# -*- coding: utf-8 -*-
import logging

LOGGING_LEVEL = logging.DEBUG
DEFAULT_CATEGORY = ""
HIDDEN_BY_DEFAULT = False

RECOGNIZED_EXTS = ["jpg", "mov", "avi"]
SIGNATURE_SIZE = 1024*1024

SMUGMUG_ID = ""
SMUGMUG_PASSWORD = ""
SMUGMUG_API = ""

# notification setup
SMTP_SERVER = "smtp.gmail.com:587"
SMTP_SERVER = None
SMTP_ID = ""
SMTP_PASSWORD = ""
FROM_EMAIL = ""
TO_EMAIL = ""
CHECK_INTERVAL = 60

READ_FROM = [
        "",
        "",
        ]
WRITE_TO = ""
